.sticky {
	display: block;
}


.site {

    
    //background: $color__background-body;
}
.post
{
    margin: 0 0 2em;
}


.updated:not(.published) {
	display: none;
}
iframe, 
center > iframe,
center {
    + h1,
    + .h1,
    + h2,
    + .h2,
    + h3,
    + .h3,
    + h4,
    + .h4,
    + h5,
    + .h5 {
        margin-top: 1em;
    }
}
iframe, 
center > iframe {
    + p {
        margin-top: 1em;
    }
}
.page-content,
.entry-content,
.entry-summary {
	//margin: 1.5em 0 0;
    margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.byline {
    display: none;
}  
.entry-footer {
     .edit-link {
        margin-left: .5em;
    }
}
.entry-footer2 {
    // used on front-page for featured articles
    display: none;
}
.tags-links + .communities-links {
    &::before {
        content: ', ';
    }
}

.post-thumbnail {
    display: block;
    
}
 .wp-post-image {
    width: 100%;
    height: auto;

}
.page {
    .post-thumbnail {
        margin-bottom: 2em;
    }
}


.search {
    
}
#search-posts-container {
    margin: 0;
    padding: 0;
    > .row > div > article {
        margin: $spacer 0;
       /* @include make-col(12);
        @include media-breakpoint-up(lg) {
            @include make-col(6);
        }*/
        > .container-fluid {
             margin: 0;
            padding: 0;
        }
    }
}
.cat-links,
.tags-links {
   // padding-right: .5em;
}



.alignfull, .alignwide {
     @include force-full-width();
  
   
   
}
.alignfull, .alignwide, .wp-block-group {

    padding: 2em 0 1.5em;
    .wp-block-group {
        // Don't double the padding
        padding: 0;
    }
   
     @include media-breakpoint-up(sm) {
          padding: 3em 0 2em;
    }
}
.alignfull, .alignwide {
     padding: 2em 10px 1.5em;
    @include media-breakpoint-up(sm) {
          padding: 3em 0 2em;
    }
}
.alignwide {
    .wp-block-group__inner-container {
         @include make-container();
          margin: 0 auto;
        max-width: map.get($container-max-widths, xs);     
         @include media-breakpoint-up(sm) {
            max-width: map.get($container-max-widths, sm);     
        }
         @include media-breakpoint-up(md) {
            max-width: map.get($container-max-widths, md);     
        }
         @include media-breakpoint-up(lg) {
            max-width: map.get($container-max-widths, lg);     
        }
         @include media-breakpoint-up(xl) {
            max-width: map.get($container-max-widths, xl);     
        }

    }
    &.p-1, &.p-2, &.p-3, &.p-4 {
          padding-right: 7px !important;
           padding-left: 7px !important;
        @include media-breakpoint-up(sm) {
            padding-right: 0 !important;
           padding-left: 0 !important;
        }
    }
}

.alignfull, .alignwide {
    
    
     &.dark, &.blue,  {
        color: white;
         .entry td {
             border: 1px solid white;
         }
         .table-2-column {
            th {
                border-bottom: none;


            }
        }
         blockquote { 
           color: white;   
         }
         h1, h2, h3, h4, h5, h6, h7 {
              color: white;
         }
        
    }
    

    &.blue, &.dark {
        
        background-color: $color__main-1;
        h1, h2, h3, h4, h5, h6, a, p {
            color: white;
        }
        button, input[type="button"], input[type="reset"], input[type="submit"], .wp-block-button__link, a.button {
            background-color: lighten($color__main-1, 12%);
             &:hover, &:active, &:focus {
                background-color: darken($color__main-1, 12%);
            }

        }
    }
    
    
}