$color__main-1: #043579;
$color__main-2: #68b735;
$color__gray: #262626;
$color__gray--light: #999999;
$color__gray--lighter: #cccccc;
$color__gray--lightest: #f2f2f2;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: $color__gray--light;
$color__background-button: $color__gray--light;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-footer: $color__gray;


$color__text-screen: $color__main-1;
$color__text-input: $color__gray--light;
$color__text-input-focus: #111;
$color__text-main: $color__gray;
$color__text-blockquote: $color__main-2;
$color__text-footer: white;


$color__link: $color__main-1;
$color__link-visited: $color__main-1;
$color__link-footer: $color__gray--lighter;
$color__link-hover: $color__main-2;


$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-header: $color__main-2;


