$font__main: 'Lato', sans-serif;
$font__accent: 'Roboto Slab', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size-sidebar: .9em;
$font__size-captions: .8em;
$font__size-credits: 10px;