footer.site-footer {
    font-size: .8em;
    background-color:   $color__background-footer;
    color: $color__text-footer;
    a,
    a:visited {
         text-decoration: none;
        color: $color__link-footer;
        
    }
    a:focus,
    a:hover,
    a:active {
        color: $color__link-footer;
        text-decoration: underline;
        cursor: pointer;
    }
    h2 {
        color: $color__text-footer;
    }
    min-height: 300px;
    .container .col {
        padding: 1em 0;
    }
    h3.widget-title {
        font-size: 1.2em;  
        text-transform: uppercase;
        margin-bottom: 1.5em;
        text-align: center;
        @include media-breakpoint-up(sm) {
            text-align:left;
        }
    }
    .widget_categories,
    .widget_nav_menu {
        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                margin: 0;
                padding: 0;
                width: 100%;
                text-align:center;
                @include media-breakpoint-up(sm) {
                    text-align:left;
                    width: 46%;
                }
                a {
                    padding: .3em 0;
                    display: inline-block;
                }
                ul {
                    display: none;
                }
            }
        }
    }
    
    
}
#startertheme-related {
    display: none;
    @include media-breakpoint-up(lg) {
        display:block;
    }
}
.menu-bottom-container {
     display: inline-block;
    margin: 0;
    padding: 0;
}
#menu-footer-bottom,
#menu-footer-social {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    
        width: auto;
    //text-align: left !important;
    ul {
        display: inline-block;
        width: auto;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0;
        padding: 0;
        a {
            display: inline-block;
        }
         ul {
                    display: none;
                }
        
        
    }
}
#menu-footer-social {
    margin-bottom: 1em;
    
}
a#footer-logo-link {
    width: 180px;
    display: inline-block;
    max-width: 100%;
    img {
        
        display: block;
    }
}