img.custom-logo {
    height: 50px;
    width: auto;
    max-width: 100%;
    display: block;
    margin-top: 15px;
    @include media-breakpoint-up(md) {
        height: 60px;
        margin-top: 0;
       //include translateY(-10%);
    }
}