img.custom-logo {
    height: 50px;
    width: auto;
    max-width: 100%;
    display: block;
    margin-top: 15px;
    @include media-breakpoint-up(md) {
        height: 60px;
        margin-top: 0;
       //include translateY(-10%);
    }
}
header.site-header {
   /*
    border-top: $size__border solid $color__border-header;
    border-bottom: 1px solid $color__gray--lighter;
    */
    
    //dding: 0 0 0 0;
    @include media-breakpoint-up(md) {
        //dding: $spacer $spacer*2 0;
    }
}


#header-grid-container {
   /*isplay: grid;
    align-items: flex-start;
    grid-template-areas:
    
     'logo header-area-btn'
    'header-area-2 header-area-2'
    'header-area-1 header-area-1';
    
    
    
     grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
   
    @include media-breakpoint-up(sm) {
        
   
     // grid-template-columns: 1fr 1fr;
        //grid-template-rows: 1fr 1fr;
    }
    @include media-breakpoint-up(md) {
         grid-template-areas:
          'logo header-area-1'
        'logo header-area-2';
        align-items: center;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
    }
      @include media-breakpoint-up(lg) {
       
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
    }
    */
}
#site-branding {
   //rid-area: logo;
    
}
#header-area-1 {
    //id-area: header-area-1;
    
}
#nav-button-container {
   /*rid-area: header-area-btn;
    text-align: right;
    @include media-breakpoint-up(md) {
        display: none;   
    }*/
}
#header-area-1,
#header-area-2 {
  /*display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
        position: relative;
    //margin-top: $spacer;
    @include media-breakpoint-up(md) {
        margin-top: 0;
        flex-direction:row;
        justify-content: flex-end;
        
        align-items: flex-start;
    }*/
  
}
#header-area-2 {
/*      grid-area: header-area-2;
    //display: none;
   
    @include media-breakpoint-up(md) {
       // justify-content: center;
        
      // align-items: center;
       // flex-direction:row;
        #channel-navigation {
            order: 2;
        }
        #main-search-container {
            order: 1;
        }
    }*/
}
/*
#social-navigation {
    grid-area: social;
}
#site-navigation {
    grid-area: menu-1;
}
#secondary-navigation {
    grid-area: menu-2;
}
#main-search-container {
    grid-area: search;
}
#channel-navigation {
    grid-area: channel;
}
*/